<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Properties>
        <Property name="log-path">src/main/resources/server</Property>
    </Properties>
    <Appenders>
        <RollingFile name="RollingFile" fileName="${log-path}/events.log"
                     filePattern="${log-path}/events-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout>
                <pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 KB" />
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="demo" level="all">
            <AppenderRef ref="UserLogFile" level="ALL"/>
        </Logger>
        <Root level="all">
            <AppenderRef ref="RollingFile" level="ALL"/>
        </Root>

    </Loggers>
</Configuration>